{% extends 'base.html.twig' %}

{% block body %}
        <style>
        body{
            background:#000;
        }
    </style>
    <a href="{{ path('admin_offer_index') }}">Zarządzanie ofertami</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
