{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            background:#b9b9b9;
            color:#000;
        }
    </style>
    <h1>offer creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_offer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
